<section th:fragment="fifth" class="py-12 md:py-16">
       <div class="max-w-7xl mx-auto px-4 grid md:grid-cols-2 gap-8 md:gap-10 items-center">
           <div>
               <h1 class="text-3xl md:text-4xl font-bold mb-6 md:mb-8">
                   Our World Class Educators
               </h1>
               <h3 class="text-xl md:text-2xl mb-4">Our instructors are not just teachers.</h3>
               <p class="text-gray-500 mb-4 text-sm md:text-base">
                   They are confidence facilitators. <br /> Each educator is trained in: <br /> • Child psychology fundamentals<br /> • Communication nurturing techniques<br /> • Stage-comfort development<br /> • Activity-based instruction<br /> • International
                   curriculum alignment
               </p>
               <button class="bg-yellow-500 text-white px-6 py-2 rounded-full text-sm md:text-base">
         Join Us
       </button>
           </div>
           <div>
               <img th:src="@{/images/fifth.webp}" class="rounded-2xl w-full" />
           </div>
       </div>
   </section>