<section th:fragment="hero"  class="max-w-7xl mx-auto px-4 grid md:grid-cols-2 gap-8 md:gap-10 items-center">
       <!-- Image -->
       <div class="order-2 md:order-1">
           <img th:src="@{/images/hero.png}" alt="Hero Image" class="w-full" />
       </div>

       <!-- Content -->
       <div class="order-1 md:order-2">
           <h2 class="text-3xl md:text-4xl font-bold mb-4">Who we are?</h2>
           <p class="text-gray-600 mb-6 text-sm md:text-base">
               Oratrics Kidzz is the early foundation arm of Oratrics: The Future Human School, an international educational platform present in more than 22+ countries & a family of 50000+ individuals connected globally. We focus upon future skills apart from academics
               like personality development, public speaking, creative writing, conceptual mathematics, leadership development, financial literacy, AI & Robotics impacting learners worldwide.
           </p>
           <button class="bg-yellow-500 text-white px-6 py-3 rounded-full text-sm md:text-base">
       Explore More
     </button>
       </div>
   </section>
