<section th:fragment="second" class="py-12 md:py-16 bg-white">
      <div class="max-w-7xl mx-auto px-4 grid md:grid-cols-2 gap-8 md:gap-12 items-center">
          <div>
              <h3 class="text-2xl md:text-3xl font-bold mb-4">


                  Where Confidence Begins <br class="hidden sm:block" /> Before Kindergarten
                  <hr class="w-32 md:w-46 border-2 border-yellow-500 mt-2 mb-4" />
              </h3>
              <p class="text-gray-600 mb-6 text-sm md:text-base">
                  At Oratrics Kidzz, we believe something powerful: <br /> Confidence is not built in college. It is not built in high school. It begins in the earliest years of life. <br /> Oratrics Kidzz is a globally inspired preschool designed to
                  nurture confident communicators, curious thinkers, and future-ready learners from the age of 2.5 years onwards.

              </p>
              <button class="bg-yellow-500 text-white px-5 py-2 rounded-full text-sm md:text-base">
        View More
      </button>
          </div>
          <div>
              <img th:src="@{/images/second.webp}" alt="Second Section Image" class="w-full" />
          </div>
      </div>
  </section>
