<section th:fragment="third" class="py-12 md:py-16 bg-white">
        <div class="max-w-7xl mx-auto px-4 grid md:grid-cols-2 gap-8 md:gap-12 items-center">
            <div class="md:order-2">
                <h3 class="text-2xl md:text-3xl font-bold mb-4">


                    Our International <br class="hidden sm:block" /> Flagship Curriculum
                    <hr class="w-32 md:w-46 border-2 border-yellow-500 mt-2 mb-4" />
                </h3>
                <p class="text-gray-600 mb-8 text-sm md:text-base">
                    The Oratrics International Flagship Curriculum is inspired by: <br /> • US Early Learning Benchmarks<br /> • International language development standards<br /> • Global personality development frameworks<br /> • Social-emotional growth
                    research
                </p>
                <button class="bg-yellow-500 text-white px-5 py-2 rounded-full text-sm md:text-base">
          View More
        </button>
            </div>
            <div class="md:order-1">
                <img th:src="@{/images/student3.webp}" alt="Second Section Image" class="w-full" />
            </div>
        </div>
    </section>