<section th:fragment="birds" class="my-10 px-4 lg:px-10">

       <!-- Heading -->
       <div class="flex justify-between items-center flex-wrap gap-3">
           <h2 class="text-[#8B0000] text-2xl sm:text-3xl lg:text-4xl font-semibold">
               Spreading <span class="text-black">Love</span> to 20+ Countries
           </h2>

           <img src="/images/bird.png" class="h-8 sm:h-10 lg:h-14 object-contain" />
       </div>

       <!-- Cards -->
       <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-6">

           <!-- Card 1 -->
           <div class="flex items-center gap-4 md:gap-5 bg-[#F8F8F8] border border-[#E5E7EB] p-5 rounded-3xl hover:shadow-lg transition duration-300">

               <img src="/images/childavatar1.webp" class="h-[90px] w-[90px] sm:h-[110px] sm:w-[110px] md:h-[130px] md:w-[130px] lg:h-[160px] lg:w-[160px] rounded-full object-cover" />

               <div class="flex flex-col">
                   <p class="text-[#8B0000] text-base sm:text-lg md:text-xl font-semibold leading-tight">
                       Present in 20+ <br> Countries
                   </p>

                   <p class="font-bold text-sm sm:text-base md:text-lg mt-2 cursor-pointer hover:text-[#8B0000]">
                       Know More
                   </p>
               </div>

           </div>


           <!-- Card 2 -->
           <div class="flex items-center gap-4 md:gap-5 bg-[#F8F8F8] border border-[#E5E7EB] p-5 rounded-3xl hover:shadow-lg transition duration-300">

               <img src="/images/childavatar2.webp" class="h-[90px] w-[90px] sm:h-[110px] sm:w-[110px] md:h-[130px] md:w-[130px] lg:h-[160px] lg:w-[160px] rounded-full object-cover" />

               <div>
                   <p class="text-[#8B0000] text-base sm:text-lg md:text-xl font-semibold leading-tight">
                       International Early Learning Standards
                   </p>

                   <p class="font-bold text-sm sm:text-base md:text-lg mt-2 cursor-pointer hover:text-[#8B0000]">
                       Know More
                   </p>
               </div>

           </div>


           <!-- Card 3 -->
           <div class="flex items-center gap-4 md:gap-5 bg-[#F8F8F8] border border-[#E5E7EB] p-5 rounded-3xl hover:shadow-lg transition duration-300">

               <img src="/images/childavatar3.webp" class="h-[90px] w-[90px] sm:h-[110px] sm:w-[110px] md:h-[130px] md:w-[130px] lg:h-[160px] lg:w-[160px] rounded-full object-cover" />

               <div>
                   <p class="text-[#8B0000] text-base sm:text-lg md:text-xl font-semibold leading-tight">
                       Personality + Academics + Global Exposure
                   </p>

                   <p class="font-bold text-sm sm:text-base md:text-lg mt-2 cursor-pointer hover:text-[#8B0000]">
                       Know More
                   </p>
               </div>

           </div>

       </div>
   </section>


