<section id="programs" th:fragment="program" class="relative left-1/2 -translate-x-1/2 w-screen bg-[#24135f] text-white py-16">


       <div class="w-full max-w-7xl mx-auto px-6 text-center text-white">

           <h2 class="text-3xl font-bold mb-2">
               Our <span class="text-yellow-400">Early Childhood Programs</span>
           </h2>

           <p class="opacity-80 mb-8 text-sm">
               Internationally Benchmarked Learning Pathways From Infancy To Kindergarten
           </p>

           <div class="relative">

               <!-- Slider -->
               <div id="programSlider" class="flex gap-6 overflow-x-auto scroll-smooth no-scrollbar">

                   <!-- 1 -->
                   <div class="program-card bg-white rounded-4xl p-5 text-center">
                       <img th:src="@{/images/programs/playgroup.png}" class="rounded-xl mb-4 w-full" alt="Pre Nursery" />
                       <h4 class="font-bold text-lg text-[#24135f]">Play Group</h4>
                       <p class="text-sm text-black mt-2">
                           Play based foundation learning with sensory activities, motor skills and joyful classroom interaction.
                       </p>
                   </div>

                   <!-- 2 -->
                   <div class="program-card bg-white rounded-4xl p-5 text-center">
                       <img th:src="@{/images/programs/nursery.png}" class="rounded-xl mb-4 w-full" alt="Nursery" />
                       <h4 class="font-bold text-lg text-[#24135f]">Nursery</h4>
                       <p class="text-sm text-black mt-2">
                           Language development, vocabulary building, social skills and confident expressive communication.
                       </p>
                   </div>



                   <!-- 4 -->
                   <div class="program-card bg-white rounded-3xl p-5 text-center">
                       <img th:src="@{/images/programs/lkg.png}" class="rounded-xl mb-4 w-full" alt="LKG" />
                       <h4 class="font-bold text-lg text-[#24135f]">LKG</h4>
                       <p class="text-sm text-black mt-2">
                           Reading readiness, teamwork focus, personality growth and basic critical thinking skills.
                       </p>
                   </div>

                   <!-- 5 -->
                   <div class="program-card bg-white rounded-3xl p-5 text-center">
                       <img th:src="@{/images/programs/ukg.png}" class="rounded-xl mb-4 w-full" alt="UKG" />
                       <h4 class="font-bold text-lg text-[#24135f]">UKG</h4>
                       <p class="text-sm text-black mt-2">
                           Complete school readiness with presentation skills, confidence building and emotional growth.
                       </p>
                   </div>



                   <!-- 7 -->
                   <div class="program-card bg-white rounded-3xl p-5 text-center">
                       <img th:src="@{/images/programs/daycare.png}" class="rounded-xl mb-4 w-full" alt="Daycare" />
                       <h4 class="font-bold text-lg text-[#24135f]">Daycare</h4>
                       <p class="text-sm text-black mt-2">
                           Safe nurturing environment with play learning, communication skills and social bonding.
                       </p>
                   </div>

                   <!-- 8 -->
                   <div class="program-card bg-white rounded-3xl p-5 text-center">
                       <img th:src="@{/images/programs/teacher.jpeg}" class="rounded-xl mb-4 w-full" alt="Teacher Training" />
                       <h4 class="font-bold text-lg text-[#24135f]">Teacher Training</h4>
                       <p class="text-sm text-black mt-2">
                           Professional training with modern teaching methods and classroom management skills.
                       </p>
                   </div>

               </div>

           </div>

       </div>
   </section>


