<section th:fragment="subhero">
       <div class="bg-[#FFB100] flex items-center justify-around rounded-3xl p-2">
           <div class="text-[14px] lg:text-5xl px-4 flex flex-col gap-3 items-center">
               <p>A Loving Start To</p>
               <span class="bg-[#8B0000] text-white px-2 w-[110px] lg:w-fit lg:px-10 lg:py-2 rounded-lg">Bright
                   Future</span>
           </div>
           <img th:src="@{/images/cute.png}" class="h-[10rem] lg:h-[16vw]" />
       </div>
   </section>