<section th:fragment="transform" class="my-10">
       <div class="flex flex-col lg:flex-row gap-8 lg:gap-20 items-center justify-center px-6">

           <!-- Image -->
           <img th:src="@{/images/transform.webp}" alt="Oratrics Kids Learning" class="h-70 lg:h-90 object-cover" />

           <!-- Content -->
           <div class="flex flex-col gap-4 lg:w-[450px]">

               <h2 class="text-3xl font-bold">
                   Shape Bright Futures with Oratrics Kids
               </h2>

               <p class="text-[#6D6C80]">
                   At Oratrics Kids Preschool, we create a joyful and nurturing environment where children learn through play, creativity, and interactive activities. Our early childhood programs focus on developing communication skills, confidence, curiosity, and social
                   growth so that every child builds a strong foundation for lifelong learning.
               </p>

               <button class="bg-[#FFB800] w-fit hover:bg-yellow-500 text-slate-900 font-bold py-3 px-10 rounded-xl shadow-lg transition-all active:scale-95">
                   Enroll Now
               </button>

           </div>

       </div>
   </section>
